@font-face {
  font-family: Circular;
  src: url(fonts/CircularStd-Medium.otf);
}
@font-face {
  font-family: Circular-Light;
  src: url(fonts/CircularStd-Light.otf);
}
@font-face {
  font-family: Circular-Bold;
  src: url(fonts/CircularStd-Bold.otf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Circular, sans-serif;
}

:root{
  --nav-bgd: #000000;
  --nav-grey: #7D7D7D;
  --white: #FFFFFF;
  --hover-grey: #EBEBEB;
  --dark-pink: #DA0A64;
  --pink: #FF385C;
}

.hide {
  display: none !important;
}
.show-flex {
  display: flex !important;
}
.show-grid {
  display: grid !important;
}

.nav-fixed{
  width: 100%;
  background-color: #fff !important;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
}

.logo-fixed{
  color: #FF385C !important;
}

.end-link-fixed {
  color: #000 !important;
}
.end-link-fixed:hover {
  background-color: #7d7d7d1e !important;
}

.end-sign-fixed{
  border: 1px solid #7d7d7d71;
  transition: all 0.3s ease;
}
.end-sign-fixed:hover{
  box-shadow: 0px 2px 2px 2px #7d7d7d42;
}
